:root {
  --main-bg-color: #181719;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  color: #fff;
}

.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2em 2em;
}

.page-name {
  display: inline-block;
  font-family: "Crimson Pro", serif;
  font-weight: 200;
  padding: 0.5em;
  border: 1px solid #fff;
}

.links {
  display: flex;
  flex-direction: row;
  column-gap: 5em;
  list-style: none;
}

.link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.link--selected {
  display: inline-block;
  font-weight: 500;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #fff;
}

.page-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.description__title {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 3rem;
}
.description__cta {
  position: relative;
  height: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
}
.description__cta--icon {
  position: absolute;
  top: 0;
  right: -1.5em;
}
.description__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  width: 410px;
}

.desing-data {
  position: relative;
}
.desing__image {
  width: 737px;
  height: auto;
}

.designer-data {
  position: absolute;
  bottom: -9.5em;
  right: 3em;
  background-color: var(--main-bg-color);
  width: 410px;
  padding: 1em 2em;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.designer-data__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 2em;
}

.designer__image {
  width: 85px;
  height: auto;
  border-radius: 50%;
}

.desing__info {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 1.5rem;
}

@media (max-width: 750px) {
  .page-header{
    padding-left: 0;
  }
  .header-nav {
    display: none;
  }
  .page-content {
    flex-direction: column;
  }
  .page-description {
    width: 100%;
  }

  .description__title {
    font-size: 3rem;
  }
  .description__text {
    font-size: 14px;
    width: 100%;
  }
  .description__cta {
    font-size: 14px;
  }
  .desing-data {
    width: 100%;
  }
  .desing__image {
    width: 100%;
  }
  .designer-data {
    width: 80%;
    max-width: 300px;
    right: .5em;
    bottom: -6em;
  }
  .designer__image{
    width: 37px;
  }
  .designer__name {
    font-size: 12px;
  }
  .designer__job {
    font-size: 10px;
  }
  .desing__info{
    font-size: 18px;
  }
}
